.btn {
  display: grid;
  place-items: center;
  border: none;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;

  svg {
    transition: transform 0.5s;
  }

  &:hover {
    svg {
      transform: scale(0.9);
      fill: $accent-100;
    }
  }
}
