.button {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 13%);
  border: none;

  @include bgColor(bg-300);

  .language {
    width: 18px;
  }

  &:hover {
    @include bgColor(primary-200);
  }

  &:active {
    transform: scale(0.8);
  }
}

:global {
  .t-dropdown {
    border: unset;

    .t-dropdown__menu {
      padding: $medium-padding;

      .t-dropdown__item {
        padding: $small-padding $medium-padding;

        .t-ripple {
          background-color: rgba($accent-100, 0.3);
        }
        &:hover {
          background-color: transparent !important;
          font-weight: 800;
          color: $accent-200;
        }
        &:active {
          background-color: transparent !important;
        }
      }
    }
  }
}
