@import './common';

@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    $theme-map: $theme-map !global;
    body[data-theme='#{$theme-name}'] & {
      @content;
    }
  }
}
// 声明一个根据Key获取颜色的function
@function themed($key) {
  @return map-get($theme-map, $key);
}
// 获取颜色
@mixin bgColor($color) {
  @include themeify {
    background: themed($color) !important;
  }
}
//获取字体颜色
@mixin textColor($color) {
  @include themeify {
    color: themed($color) !important;
  }
}
//获取边框颜色
@mixin borderColor($color) {
  @include themeify {
    border-color: themed($color);
  }
}
