@import './fonts.scss';
@import './light.scss';

$bg: #151c2c;
$bg-soft: #182237;
$text: white;
$text-soft: #b7bac1;

$extra-padding: 24px;
$large-padding: 18px;
$medium-padding: 12px;
$small-padding: 8px;

body[data-theme='light'] {
  @import './light.scss';
}

body[data-theme='dark'] {
  @import './dark.scss';
}
