.home {
  width: 100%;

  .wrap {
    width: 83%;
    max-width: 1600px;
    margin: 0 auto;

    .hero {
      padding: calc($medium-padding * 3) 0;
      display: flex;
      column-gap: calc($extra-padding * 3);
      justify-content: space-between;
      align-items: center;

      .content {
        height: 100%;

        .preTitle {
          font-size: 12px;
          color: $accent-100;
          font-weight: 500;
          margin-bottom: $medium-padding;
        }

        .title {
          font-size: 36px;
          margin-bottom: $extra-padding;
        }

        .desc {
          width: 50%;
          font-size: 12px;
          color: $text-200;
          margin-bottom: calc($extra-padding * 2);
        }

        .btn {
          padding: $small-padding $medium-padding;
          background-color: $bg-100;
        }
      }

      .img {
        margin-right: $extra-padding;
      }
    }

    .intro {
      padding: calc($extra-padding * 3) 0;

      .title {
        position: relative;
        width: fit-content;
        margin: 0 auto calc($extra-padding * 3);

        &::before {
          content: '';
          left: 0;
          margin-left: -60px;
          top: 50%;
          width: 50px;
          position: absolute;
          height: 3px;
          border-radius: 2px;
          background-color: $primary-300;
        }

        &::after {
          content: '';
          right: 0;
          margin-right: -60px;
          top: 50%;
          width: 50px;
          position: absolute;
          height: 3px;
          border-radius: 2px;
          background-color: $primary-300;
        }
      }

      .content {
        display: flex;
        column-gap: $extra-padding;
        justify-content: space-around;
      }
    }
  }
}
